.modal {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 720px;
}
.order {
  min-height: 120px;
}
.loader{
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: transparent;
  width: 200px;
  height: 200px;
  background-image: url("../../image/oval.svg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}