.feed {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.windowOrders {
  display: flex;
  gap: 0 60px;
  max-width: 1240px;
  width: 100%;
  padding: 0 24px 0;
  box-sizing: border-box;
}
.head {
  max-width: 1240px;
  width: 100%;
  padding: 0 24px 0;
  box-sizing: border-box;
}