.section {
  margin-top: 100px;
  position: relative;
}
.list {
  max-height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.uplist{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.topElement {
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-right: 4px;
}

.constructorElement {
  display: flex;
  align-items: center;
  margin-left: 2px;
  margin-right: 4px;
}

.bottomElement {
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-right: 4px;
}

.dragElement {
  display: flex;
  align-items: center;
}
.dropHighlight::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid rgba(255, 255, 255, 0.5);
  z-index: 2;
}

@media (max-width: 1130px) {
  .section {
    margin-top: 0;
  }
}

