  .orders {
    max-width: 608px;
    width: 100%;
    overflow-y: auto;
    max-height: 75vh;
    border: 1px solid red;
  }
  .order {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  
    grid-template-areas:
      "id id id date date date"
      "name name name name name name"
      "components components components components components price";
    gap: 24px 0;
    background-color: #1c1c21;
    border-radius: 40px;
    padding: 24px;
    margin-bottom: 16px;
  }
  .order:last-child {
    margin-bottom: 0;
  }
  .burgerName {
    grid-area: name;
  
    display: flex;
    align-items: center;
  }
  .components {
    grid-area: components;
    display: flex;
  }
  .price {
    grid-area: price;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .date {
    grid-area: date;
    color: #8585ad;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .id {
    grid-area: id;
    display: flex;
    align-items: center;
  }
  .img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    background: black;
  }
  .imgWrap {
    width: 64px;
    height: 64px;
    padding: 2px;
    background: linear-gradient(#801ab2, #4c4cff);
    border-radius: 50%;
  }
  .components > *:not(:first-child) {
    margin-left: -20px;
  }