.profile {
  display: flex;
}

.button {
  margin: 0;
  padding: 0;
}
.text {
  display: flex;
  align-items: center;
  width: 320px;
  height: 64px;
}
.page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
}
.link {
  cursor: pointer;
}

@media (max-width: 900px) {
  .profile {
    flex-direction: column-reverse;
  }
  .window {
    margin-top: 50px;
  }
}
