.profile {
  display: flex;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
}
@media (max-width: 900px) {
  .profile {
    flex-direction: column-reverse;
  }
}
