.stats {
  max-width: 580px;
  width: 100%;
}
.windowStats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 24px 36px;
}
.queueText {
  color: #00cccc;
  margin: 0 0 8px;
}
.queueText:last-child {
  margin: 0;
}
.queueTextWork {
  color: white;
}
