.stats {
  max-width: 580px;
  width: 100%;
}
.windowStats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 24px 36px;
}
.queueDone {
  color: #00cccc;
}
.queueProcess {
  color: white;
}
