.window {
  display: flex;
  flex-direction: column;
  max-width: 320px;
}
.link {
  display: flex;
  align-items: center;
  width: 320px;
  height: 64px;
  cursor: pointer;
}
@media (max-width: 900px) {
  .window {
    margin-top: 50px;
  }
}
